<div class="container px-5 my-5">
  <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
  </div>
  <div class="row gx-5 justify-content-center">
      <div class="col-lg-11 col-xl-9 col-xxl-8">
          <!-- Experience Section-->
          <section>
              <div class="d-flex align-items-center justify-content-between mb-4">
                  <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                  <!-- Download resume button-->
                  <!-- Note: Set the link href target to a PDF file within your project-->
                  <a class="btn btn-primary px-4 py-3" href="https://drive.google.com/file/d/1e4ofc_e1oAYQri1de81FGfocW8D6XEvw/view?usp=sharing" target="blank">
                      <div class="d-inline-block bi bi-download me-2"></div>
                      Download Resume
                  </a>
              </div>
              <!-- Experience Card 1-->
              <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2">AIS, Cube SoftTech</div>
                                <div class="small fw-bolder">Feb 2024 - Present</div>
                                <div class="small text-muted">Back-end Developer</div>
                                <div class="small text-muted">Bangkok</div>
                            </div>
                        </div>
                        <div class="col-lg-8 small text-muted">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              Develop Spring boot REST-full APIs (Java microservice) for AIS My Network system with the following topics<br>
                              &emsp;1. Budget Planning – Monthly Report<br>
                              &emsp;- Create Monthly Report system with APIs to search, save to Database and import/export excel<br>
                              &ensp;2. Radio Optimize Planning – Problem Grid<br>
                              &ensp;&ensp;- Create Batch to call APIs that import excel file to system (Database)<br>
                              &ensp;&ensp;- Create APIs to search, save to Database and import/export excel<br>
                            </li>
                            <li class="list-group-item">Implement Table, Functions (stored procudure) on Postgresql for APIs</li>
                            <li class="list-group-item">Deploy on Develop environment with JBOSS</li>
                            <li class="list-group-item">Support deploying on Staging and Production environment</li>
                            <li class="list-group-item">Work with System Analysis to design project structure</li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Experience Card 2-->
              <!-- <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2">Cube SoftTech HQ</div>
                                <div class="small fw-bolder">Feb 2024</div>
                                <div class="small text-muted">Web Developer</div>
                                <div class="small text-muted">Bangkok</div>
                            </div>
                        </div>
                        <div class="col-lg-8 small text-muted">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Migrate Cube SoftTech web page from PHP to Angular</li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div> -->
              <!-- Experience Card 3-->
              <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2">Krung Thai, Cube SoftTech</div>
                                <div class="small fw-bolder">May 2023 - Jan 2024</div>
                                <div class="small text-muted">Back-end Developer</div>
                                <div class="small text-muted">Bangkok</div>
                            </div>
                        </div>
                        <div class="col-lg-8 small text-muted">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Built Spring Boot REST-full API (microservice) for serving data.</li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Experience Card 4-->
              <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2">DTAC, Orcsoft</div>
                                <div class="small fw-bolder">Jul 2020 – Apr 2023</div>
                                <div class="small text-muted">Senior Software Engineer</div>
                                <div class="small text-muted">Bangkok</div>
                            </div>
                        </div>
                        <div class="col-lg-8 small text-muted">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              Develop Spring boot REST-full APIs (Java microservice) for DTAC Reward point system with the following topics
                              1. Earn points to DTAC customer
                              2. Services related to giving DTAC Reward points and coins to customers
                            </li>
                            <li class="list-group-item">
                              Develop Spring MVC and manage Back-end system (CMS) with the following topics
                              1. Revise new features on CMS depending on the customer, such as
                              2. Create a new menu for setup Grouping and Festive campaign
                            </li>
                            <li class="list-group-item">Implement Angular for DTAC reward UI system.</li>
                            <li class="list-group-item">Unit test and deploy on Develop and Test environment</li>
                            <li class="list-group-item">Work with System Analysis to design project structure</li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Experience Card 5-->
              <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2">AIS, Orcsoft</div>
                                <div class="small fw-bolder">Jan 2020 - Jul 2020</div>
                                <div class="small text-muted">Software Engineer</div>
                                <div class="small text-muted">Bangkok</div>
                            </div>
                        </div>
                        <div class="col-lg-8 small text-muted">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              Research about Database migration from Oracle to PostgreSQL with Ora2Pg tool (Ora2Pg is a free tool used to migrate an Oracle database to a PostgreSQL)
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Experience Card 6-->
              <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2">Krung Thai, Orcsoft</div>
                                <div class="small fw-bolder">Nov 2019 - Dec 2019</div>
                                <div class="small text-muted">Software Engineer</div>
                                <div class="small text-muted">Bangkok</div>
                            </div>
                        </div>
                        <div class="col-lg-8 small text-muted">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Built Spring Boot REST-full API (microservice) for serving data to Tri-Petch Group about saving and payment invoice</li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Experience Card 7-->
              <div class="card shadow border-0 rounded-4 mb-5">
                <div class="card-body p-5">
                    <div class="row align-items-center gx-5">
                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-primary fw-bolder mb-2">SAMART, Orcsoft</div>
                                <div class="small fw-bolder">Aug 2018 - Oct 2019</div>
                                <div class="small text-muted">Software Engineer</div>
                                <div class="small text-muted">Bangkok</div>
                            </div>
                        </div>
                        <div class="col-lg-8 small text-muted">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              Develop Land Information System Development Project Phase 2 by using ExtJS framework with the following topics, such as Internal audit system, Parcel system, Material work system and durable goods, and Land Academic Work Group System
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
              </div>
          </section>
          <!-- Education Section-->
          <section>
              <h2 class="text-secondary fw-bolder mb-4">Education</h2>
              <!-- Education Card 1-->
              <div class="card shadow border-0 rounded-4 mb-5">
                  <div class="card-body p-5">
                      <div class="row align-items-center gx-5">
                          <div class="col text-center text-lg-start mb-4 mb-lg-0">
                              <div class="bg-light p-4 rounded-4">
                                  <div class="text-secondary fw-bolder mb-2">2014 - 2018</div>
                                  <div class="mb-2">
                                    <div class="small fw-bolder">Srinakharinwirot University</div>
                                    <div class="small text-muted">Bachelor's</div>
                                    <!-- <div class="small text-muted">Asok, BKK</div> -->
                                  </div>
                                  <div class="fst-italic">
                                      <div class="small text-muted">Computer science, Faculty of Science</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col text-center text-lg-start mb-4 mb-lg-0">
                            <div class="bg-light p-4 rounded-4">
                                <div class="text-secondary fw-bolder mb-2">2011 - 2014</div>
                                <div class="mb-2">
                                    <div class="small fw-bolder">Rittiyawannalai School</div>
                                    <div class="small text-muted">High School</div>
                                    <!-- <div class="small text-muted">Sai Mai, BKK</div> -->
                                </div>
                                <div class="fst-italic">
                                    <div class="small text-muted">Science-Mathematics Program</div>
                                </div>
                            </div>
                        </div>
                          <!-- <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div> -->
                      </div>
                  </div>
              </div>
          </section>
          <!-- Divider-->
          <div class="pb-5"></div>
          <!-- Skills Section-->
          <section>
              <!-- Skillset Card-->
              <div class="card shadow border-0 rounded-4 mb-5">
                  <div class="card-body p-5">
                      <!-- Languages list-->
                      <div class="mb-5">
                          <div class="d-flex align-items-center mb-4">
                              <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                              <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages & Frameworks</span></h3>
                          </div>
                          <div class="row row-cols-1 row-cols-md-3 mb-4">
                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Angular</div></div>
                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring Boot</div></div>
                        </div>
                          <div class="row row-cols-1 row-cols-md-4 mb-4">
                              <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML5</div></div>
                              <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                              <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                              <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">jQuery</div></div>
                          </div>
                          <div class="row row-cols-1 row-cols-md-4">
                              <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                              <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                              <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                          </div>
                      </div>
                      <!-- Tools list-->
                      <div class="mb-0">
                        <div class="d-flex align-items-center mb-4">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Tools</span></h3>
                        </div>
                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">VS Code</div></div>
                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring Tool Suite (STS)</div></div>
                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Notepad++</div></div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-3">
                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DBeaver (Database Tool)</div></div>
                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SourceTree (Git GUI)</div></div>
                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Postman</div></div>
                        </div>
                    </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>
